# Directories #
build/
bin/
target/
libs/
tmp/
node_modules/
jaxws/jaxws-client/src/main/
out/
.vscode
rebel-remote.xml
# OS Files #
.DS_Store

*.class

# Package Files #
*.jar
*.war
*.ear
*.db
rebel.xml

######################
# Windows
######################

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini

######################
# OSX
######################
.svn

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

######################
# IDEA
######################
*.iml
*.ipr
*.iws
.idea/
atlassian-ide-plugin.xml

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath

# Testing environment specific
derby.log

######################
# Liberty tools
######################

.factorypath

